<html>
	<head>
		title= title
		include head.pug
	</head>
	<body>
		<div class="container center">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="jumbotron">
						<h1><i class="fas fa-exclamation-triangle"></i>&nbsp;
							span= title
						</h1>
						h3= message
						<div class="btn-group btn-block">
							<button class="btn btn-outline-light mt-4" onclick="window.history.back();">Back <i class="fas fa-arrow-circle-left"></i></button>
							<button class="btn btn-outline-light mt-4" onclick="window.location.href='https://xn--rihy934p.ws/home'">Home <i class="fas fa-home"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
