<!DOCTYPE html>
<html>
  <head>
    <title>Alien Logger | Free Online Keylogger Service</title>
    include seo.pug
    include head.pug
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="jumbotron">
            <h1>👽⌨️.ws</h1>
            <p>Alien Logger is a completely free and online keylogger service.<br> Alien Logger allows anyone regardless of their programming skills<br> to create keyloggers and view the collected logs on their online dashboard.</p>
            <div class="btn-group btn-block">
              <a class="btn btn-outline-light mt-4" href="login">Login <i class="fas fa-sign-in-alt"></i></a>
              <a class="btn btn-outline-light mt-4" href="register">Register <i class="fas fa-user"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
